# Ignore everything in this directory
*
# Except this file
!.gitignore
!sfHospitals.json
!sfSupermarkets.json
!santaCruz_Hospitals.json
!santaCruz_Households.json
!santaCruz_Offices.json
!santaCruz_Supermarkets.json
!*.jpg
!*.png
