# Ignore everything in this directory
*
# Except this file
!.gitignore
!sfHospitals.json
!sfSupermarkets.json
!santaCruz_AllCountyBounds.json
!santaCruz_CountyPolygons.json
!santaCruz_FinalPeople.fb
!santaCruz_Hospitals.json
!santaCruz_Households.fb
!santaCruz_Offices.json
!santaCruz_Supermarkets.json
!*.jpg
!*.png
